<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="Logo.png" alt="logo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores animi, ducimus natus illo corrupti dignissimos dolores totam veniam eos sed!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque blanditiis culpa optio deserunt delectus, atque voluptatum neque? Suscipit eligendi numquam recusandae eius minus voluptas consectetur laudantium cumque assumenda magni, accusantium aliquid animi quam tenetur exercitationem commodi voluptate laborum. Hic, exercitationem.</p>
    </div>
</body>
</html> 