<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Website Artikel Sederhana</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>STIS ABOUT US</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                |
                <li><a href="#">About</a></li>
                |
                <li><a href="#">Question</a></li>
                |
                <li><a href="#">Achievement</a></li>
            </ul>
        </nav>
        <main> 
            <div class="hero">
                <img src="gina.jpg" alt="">
            </div>
            <article>
                <div class="judul">
                    <h2>Ambiez Story</h2>
                </div>
                <div class="subjudul">
                    <p>Ditulis oleh <a href="">Rifqi</a> pada 10 Agustus 2024 </p>
                </div>
                <div class="isi">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, praesentium commodi. Rerum earum pariatur beatae ullam ea totam, voluptas praesentium excepturi numquam quos. Odit tempora quae cumque ea ducimus reprehenderit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, porro!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse inventore labore laudantium iure nobis doloremque quas facilis? Culpa ipsum provident eius maxime aliquam officia, veritatis aut incidunt minus ducimus cum, quam neque, voluptates officiis deleniti. Sint voluptatum omnis, alias, mollitia fuga ullam accusantium eos laborum pariatur, cupiditate perspiciatis unde id. Eius iure placeat nemo distinctio ducimus voluptas id numquam explicabo animi nam odit laboriosam expedita iusto temporibus eos fuga ipsa delectus maiores suscipit, perspiciatis necessitatibus vero. Maxime error earum, soluta eum excepturi, perferendis facilis similique quis id tempora sunt. Accusamus corporis blanditiis illum placeat laboriosam nulla, necessitatibus sit? Enim, fuga.</p>
                </div>
            </article>
        </main>
    </div>
</body>
</html>